/* Basic CSS styling for the Blogilyn, hopefully it'll still be readable on my Pocket PC! */

.entry {
  margin: auto;
  width: 50%;
}

.entry h {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 800px) {
  .entry {
    width: 100%;
  }
}
