/* Basic CSS styling for the Blogilyn, hopefully it'll still be readable on my Pocket PC! */

body {
  background-color: black;
}

.entry {
  margin: 4px auto;
  width: 50%;
  border-radius: 16px;
  background-color: maroon;
  padding: 4px;
}

.entry .title {
  color: white;
  font-size: 24px;
}

.entry .date {
  color: white;
}

.entry .content {
  color: darksalmon;
}

.entry a {
  color: limegreen;
}

.entry a:visited {
  color: goldenrod;
}

@media only screen and (max-width: 800px) {
  .entry {
    width: 100%;
  }
}
