body {
  background-color: black;
}

p {
  color: yellow;
}

.title {
  display: block;
}

.notice {
  display: block;
}

.other-sites img {
  display: inline;
}

.button-disclaimer {
  font-size: 16px;
}

.copyright {
  display: block;
}

