body {
  background-color: black;
}

p {
  color: white;
}

.title {
  display: block;
}

.notice {
  display: block;
}

.other-sites {
  margin-bottom: 0;
  padding-bottom: 0;
}

.other-sites img {
  display: inline;
}

.button-disclaimer {
  font-size: 12px;
}

.copyright {
  display: block;
  color: yellow;
}

