html body {
    margin: 0;
    padding: 0;
}

.titlebar {
    border: 2px solid black;

    margin: 0;
    padding: 0;
    
    position: fixed;
    top: 0;
    left: 0;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
