/* CSS refresh or whatever, makes it easier to do whatever I want. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
}

.webilyn-sidebar {
    width: 288px;
    height: 100%;
    
    border-right: 2px solid black;

    margin: 0;
    padding: 0;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;
}

.webilyn-iconilyn {
    width: 288px;
    height: 128px;

    border-bottom: 2px solid black;
    
    margin-bottom: 34px;
    padding: 0;

    display: block;
}

.webilyn-quicklinks {
    display: block;
}

.webilyn-quicklinks a {
    border: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;

    margin-bottom: 16px;
    padding: 4px;
    
    display: block;
    text-align: center;
}

.webilyn-main {
    margin-left: 288px;
    padding: 4px;
}

p, a {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
