html body {
    margin: 0; /* rid of the border around our page */
}

.titlebar {
    position: fixed;
    bottom: 0; /* go to the bottom of our page */
    left: 0; /* go to the left of our page */
    width: 10%;
    z-index: 1;
}

.titlebar img {
    height: auto;
    margin: 4px;
}

.links {
    display: block;
    margin: auto;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
